In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.graphics.tsaplots as sgt
from statsmodels.tsa.seasonal import seasonal_decompose
import seaborn as sns
sns.set()

In [55]:
rw=pd.read_csv("RandWalk.csv")
rw.date=pd.to_datetime(rw.date, dayfirst=True)
rw.set_index("date", inplace=True)
rw=df.asfreq('b')

In [56]:
rw.describe()

             price           df           rw
count  5021.000000  5021.000000  5021.000000
mean   1269.944293  1269.944293  1269.944293
std     444.216793   444.216793   444.216793
min     585.483034   585.483034   585.483034
25%     931.550429   931.550429   931.550429
50%    1156.363045  1156.363045  1156.363045
75%    1488.362029  1488.362029  1488.362029
max    2715.508720  2715.508720  2715.508720

In [57]:
df['df']=df.price

In [58]:
df.head()

                  price           df           rw
date
1994-01-07  1122.139662  1122.139662  1122.139662
1994-01-10  1080.347860  1080.347860  1080.347860
1994-01-11  1082.095245  1082.095245  1082.095245
1994-01-12  1083.639265  1083.639265  1083.639265
1994-01-13  1067.146255  1067.146255  1067.146255

### Stationarity

In [53]:
sts.adfuller(df.Market_Value)

NameError: name 'sts' is not defined